h1 {
    text-align: center;
    font-size: 6rem;
    font-weight: bold;
    color: #5f7a7e; 
    margin: 0; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
  }
  
  p {
    font-size: 1.5rem; 
    color: #333; 
    margin-top: 20px; 
    line-height: 1.6; 
    text-align: center; 
    max-width: 600px; 
    margin-left: auto; 
    margin-right: auto;
  }
  
